<%= form_with(model: @tool, url: create_tool_path) do |form| %>
  <div class="modal-header">
    <h5 class="modal-title">New Tool or Language</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label>Tool:</label><span class="font-red">*</span>
      <%= form.text_field :tool, class: 'form-control', placeholder: 'i.e. ruby or vscode', required: true %>
    </div>

    <div class="form-group">
      <label>Colour:</label>
      <%= form.select :colour, options_for_select(
          [
            ['Red', 'danger'], ['Green', 'success'], ['Yellow', 'warning'],
            ['Blue', 'info'], ['White', 'light'], ['Black', 'dark']
          ]
        ), {}, class: 'form-control'
      %>
    </div>

    <div class="form-group">
      <label>Type:</label>
      <%= form.select :status, options_for_select(
          [
            ['Language or Framework', 'language'],
            ['Tool or Application', 'tool']
          ]
        ), {}, class: 'form-control'
      %>
    </div>

    <div class="form-group">
      <label>Icon:</label>(url for icon)<span class="font-red">*</span>
      <%= form.text_field :icon_url, class: 'form-control', placeholder: 'i.e. https://icon.com' %>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit 'submit', class: 'focused-button' %>
    <button type="button" class="focused-button-danger" data-dismiss="modal">cancel</button>
  </div>
<% end %>