<section class="experience-section section">
  <div class="container">
    <div class="row">
      <% @qualifications.each do |qualification| %>
        <div class="col-sm-4">
          <div class="heading qualification-heading">
            <h3><%= qualification.title %></h3>
            <h6 class="font-lite-black"><%= qualification.organisation %></h6>
          </div>
        </div>

        <div class="col-sm-8">
          <div class="experience-wrapper">
            <% qualification.academic_year.order('created_at DESC').each do |academic_year| %>
              <div class="experience margin-b-50">
                <h4>
                  <%= academic_year.title %>
                  <small class="font-blue">
                    <%= academic_year.grade %>
                </small>
                </h4>

                <% unless academic_year.education.nil? %>
                  <% academic_year.education.each do |education| %>
                    <h5>
                      <%= education.unit %>
                      <small class="font-lightblue">
                        <%= education.grade %>
                        <% education.tag.each do |tag| %>
                          <%= tag_for(tag) %>
                        <% end %>
                      </small>
                    </h5>

                    <p class="margin-tb-10"><%= education.description %></p>
                    <hr>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>