<%= form_with(model: @education, url: update_education_path) do |form| %>
  <div class="modal-header">
    <h5 class="modal-title">Edit Education</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label>Academic Year</label><span class="font-red">*</span>
      <%= form.collection_select :academic_year_id, AcademicYear.all,:id, :title, {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Unit Title:</label><span class="font-red">*</span>
      <%= form.text_field :unit, class: 'form-control', placeholder: 'Project Management', required: true %>
    </div>

    <div class="form-group">
      <label>Description:</label><span class="font-red">*</span>
      <%= form.text_area :description, class: 'form-control', rows: 5, placeholder: 'Type here...', required: true %>
    </div>

    <div class="form-group">
      <label>Grade:</label><span class="font-red">*</span>
      <%= form.text_field :grade, class: 'form-control', placeholder: 'FIRST', required: true %>
    </div>
  </div>

  <div class="modal-footer">
    <%= form.submit 'submit', class: 'focused-button' %>
    <button type="button" class="focused-button-danger" data-dismiss="modal">cancel</button>
  </div>
<% end %>