<footer>
	<div class="footer-links">
		<%= link_to 'GALLARY', backend_gallary_path, class: active_link?('gallary') %>
		<small>/</small>

		<%= link_to 'PROJECTS', backend_projects_path, class: active_link?('projects') %>
		<small>/</small>

		<%= link_to 'HOME', backend_path, class: active_link?('home') %>
		<small>/</small>

		<%= link_to 'EDUCATION', backend_education_path, class: active_link?('education') %>
		<small>/</small>

		<%= link_to 'TOOLS', backend_tools_path, class: active_link?('tools') %>
		<small>/</small>

		<%= link_to 'PRODUCTION', root_path %>
		<p id="notice"><%= notice %></p>
	</div>
</footer>