<section class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-lg-2"></div>

      <div class="col-md-10 col-lg-8">
        <div class="intro">
          <div class="profile-img">

          </div>

          <h2>Charlie Campbell</h2>
          <h4 class="font-red">Dev Edition (<%= version %>)</h4>

          <ul class="social-icons">
            <% socials.each do |social| %>
              <li>
                <a href="<%= social.url %>"><i class="<%= social.icon %>"></i></a>
                <small>
                  <%= link_to 'edit', edit_social_path(social), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'focused-link'}%>
                  <%= link_to 'remove', delete_social_path(social), method: :delete, class: 'focused-link-danger', data: { confirm: 'Are you sure? This action can not be undone.'}%>
                </small>
              </li>
            <% end %>
            <li>/
              <small>
                <%= link_to 'new', new_social_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'focused-link'}%>
              </small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>