<section class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-lg-2"></div>

      <div class="col-md-10 col-lg-8">
        <div class="intro">
          <div class="profile-img"></div>

          <h4 class="font-red position">Dev Edition (<%= version %>)</h4>

          <% if profile('name') && profile('position') %>
            <h2 class="name"><%= profile('name').value %></h2>
            <h4 class="font-blue position"><%= profile('position').value %></h4>

            <%= link_to 'edit name', edit_profile_path(profile('name')), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'focused-link'} %>
            <%= link_to 'edit position', edit_profile_path(profile('position')), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'focused-link'} %>
          <% else %>
            <%= link_to 'add profile', new_profile_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'focused-link'} %>
          <% end %>

          <ul class="social-icons">
            <% socials.each do |social| %>
              <li>
                <a href="<%= social.url %>"><i class="<%= social.icon %>"></i></a>
                <small>
                  <%= link_to 'edit', edit_social_path(social), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'focused-link'}%>
                  <%= link_to 'remove', delete_social_path(social), method: :delete, class: 'focused-link-danger', data: { confirm: 'Are you sure? This action can not be undone.'}%>
                </small>
              </li>
            <% end %>
            <li>/
              <small>
                <%= link_to 'new', new_social_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'focused-link'}%>
              </small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>